 * {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1{
  color: #6a1b9a;
  text-align: center;
  margin-bottom: 2em;
}

.header {
  width: 100%;
  border: none;
  font-size: 30px;
  padding-left: 0.5em;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  color: purple;
}

.header a {
  color: purple;
  text-decoration: none;
}


body {
  width: 100%;
  margin: 0;
}

#datagraphs {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

table, tbody, tr{
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-right: 0;
}

#results span {
  margin-left: 15px;
  margin-right: 15px;
}

#results {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
