 * {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* border: 1px solid #ccc;
  display: inline;
  float: left; */
}

h1{
  color: #6a1b9a;
  text-align: center;
}

body {
  width: 100%;
}

#datagraphs {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

table, tbody, tr{
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-right: 0;
}
