* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 10%;
    color: purple;
    border: none;
    font-size: 30px;
    padding-left: 0.5em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#menu-selection {
  text-align: center;
}
#top-left {
    float: left;
    background: black;
}

ul {

    list-style: none;
    margin: 0;
    padding: 0;

}

li {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #666;

}


li:hover span {
    width: 40px;
    opacity: 1.0;
}


.container-fluid {
    margin-top: 30px;
}

.btn {
    background-color: pink;
    border-color: white;
}


span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

#foodName {
    display: grid;
}

#foodCalories {
    display: grid;
}

#foodProtein {
    display: grid;
}

#foodCarbs {
    display: grid;
}

#foodFats {
    display: grid;
}

#summary {
    margin-top: 20px;
    height: 20%;
    width: 100%;
    float: left;
    margin-left: 20px;
}

#summary h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

#finish {
    background-color: thistle;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
    margin-top: -75px;
    font-variant: small-caps;
}

#foodModal {
    float: left;
    width: 50%;
}

#selectedfood {
    float: right;
    width: 50%;
    text-align: center;
}

input[type="button"] {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: thistle;
    font-weight: bold;
    font-variant: small-caps;
}

input[type="button"]:hover {
  opacity: .6;
}

input[type="button"]:active{
  transform: translateY(1px);
  filter: saturate(150%);
}

input[type="button"]:focus{
  background-color: lavender;
  outline: none;
}
#foodtype {
  margin-top: 10px;
  margin-bottom: 10px;
}
