* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

.header {
  width: 100%;
  border: none;
  font-size: 30px;
  padding-left: 0.5em;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  color: purple;
}

.header a {
  color: purple;
  text-decoration: none;
}

#menu_select{
  height: 70%;
}

#menu-selection {
  text-align: center;
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 1em;
}

#selectedfood{
  float: right;
  display: inline-block;
  height: 100%;
  padding: 1em;
}
#top-left {
  float: left;
  background: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.food_option {
  font-size: 18px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.food_option:hover {
  background-color: #e5e8e7;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

li {
  margin: auto;
  font-size: 18px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  border-radius: 15px;
  width: 70%;
  background-color: #e5e8e7;
}

.btn {
  cursor: pointer;
}

.btn-group-toggle{
  margin-bottom: 10px;
}
.meal{
  margin-left: 10px;
  margin-right: 10px;
}

span {
  float: left;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #F95252;
  color: white;
}

span:hover{
  cursor: pointer;
}

table{
  width: 100%;
}

td{
  width: 20%;
  align-items: center;
}

#foodName {
  display: grid;
}

#foodCalories {
  display: grid;
}

#foodProtein {
  display: grid;
}

#foodCarbs {
  display: grid;
}

#foodFats {
  display: grid;
}

#summary {
  height: 25%;
  width: 100%;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}

#selectedfood {
  float: right;
  width: 50%;
  text-align: center;
}

#selection{
  height: 70%;
  margin-top: 1em;
  padding: 0;
}

input[type="button"] {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  font-size: 18px;
  border: none;
  background-color: thistle;
  font-weight: bold;
  font-variant: small-caps;
}

input[type="button"]:hover {
  opacity: 0.6;
}

input[type="button"]:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

input[type="button"]:focus {
  background-color: lavender;
  outline: none;
}

#myInput{
  border-radius: 15px;
  background-color: #e5e8e7;
  color: black;
}
#myInput:focus{
  background-color: white;
}

#foodtype {
  margin-top: 10px;
  margin-bottom: 10px;
}
